<main class="contenedor">
     <form action="/iniciar-sesion" method="POST" class="default-form">
          <div class="campo">
               <label>Correo electrónico</label>
               <input type="email" name="email" placeholder="Tu correo electrónico" required>
          </div>
          <div class="campo">
               <label>Contraseña</label>
               <input type="password" name="password" placeholder="Tu contraseña" required>
          </div>
          <div class="campo acciones">
               <a href="/crear-cuenta">Crea una cuenta</a>
               <a href="/reestablecer-password">Olvidé mi contraseña!</a>
          </div>
          <div class="campo">
               <input type="submit" value="Inicar Sesión" class="btn btn-azul">
          </div>
     </form>
</main>